body {
    background-color: #D1A079;
    font-family: "Sofia", sans-serif;
    margin: 0;
    padding: 0;
    color: #272727;
}

.nav {
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #a68060;
    margin: 0;
    height: 125px;
}

.nav li {
    list-style-type: none;
    list-style: none;
    font-size: 1.8em;
}

.site_Name {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(images/background_name.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Cambria, Cochin, Georgia, serif;
    font-size: 2.8em;
    -webkit-text-stroke: 2.5px 	black;
}

.about_us {
    
   
    /* 
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 80%;
    */
}

.about_us h3 {
    font-size: 2em;
    text-align: center;
}

.about_us p {
    font-size: 1.3em;
}


.product {
    height: 200px;
    width: 200px;
}

.member {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: 	#272727;
    
}